@import "tailwindcss";
@plugin "daisyui";

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
.animate-fadeIn {
  animation: fadeIn 0.18s ease-out;
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0 }
  to { transform: scale(1); opacity: 1 }
}
.animate-scaleIn {
  animation: scaleIn 0.18s ease-out;
}