@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@import "tailwindcss";
@theme {
  --breakpoint-xs: 30rem;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

html, body {
  background-color: oklch(21% 0.006 285.885);
}

.sidepanel {
  background-color: rgb(47, 47, 55);
}