@import "tailwindcss";
@plugin "daisyui" {
   themes: dark --default;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
 --color-primary: oklch(54.474% 0.25386 274.48);
}

@import "tailwindcss";
@theme {
  --breakpoint-xs: 30rem;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

html, body {
  background-color: #0c0a09;
}