@import "tailwindcss";
@plugin "daisyui" {
   themes: dark --default;
}



@import "tailwindcss";
@theme {
  --breakpoint-xs: 30rem;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

html, body {
  background-color: #0c0a09;
}